<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sources Say: The Anonymous Source Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" href="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.min.css" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        h3 {
            font-size:18px;
            margin: 0 0 5px 0;
            font-weight:bold;
        }
        .timestamp {
            font-style: italic;
        }
        .relative { position: relative; }
        .source-flag {
            position:absolute;
            top:0px;
            right:0px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Articles using anonymous sourcing</h1>
        </div>
        <div class="row-fluid">
            <div class="span9">
            {% block content %}
            {% endblock %}
            </div>
            <div class="span3">
                <div class="well relative">
                    <h4>Top authors</h4>
                    <ul>
                    {% for author in top_authors %}
                        <li>{{author}} ({{author.item__count}})</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="well relative">
                    <h4>Top outlets</h4>
                    <ul>
                    {% for outlet in top_outlets %}
                        <li>{{outlet}} ({{outlet.item__count}})</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
