{% extends "base.html" %}
{% block content %}
    {% for object in object_list %}
        <div class="well">
            <h3><a href="{{object.url}}">{{object.title}}</a> <span class="label label-inverse">{{object.news_outlet.url}}</span></h3>
            <ul class="unstyled">
                <li style="padding-bottom:5px"><span>{{object.get_byline}}</span> | 
                    <span>&ldquo;{{object.line_used}}&rdquo;</span></li>
                <li><span class="timestamp">{{object.pub_date|timesince}} ago</span></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
